params {
    base_dir = "/nfs/home/jlamb/Projects/nextflow_ltr"
    genome_dir = "${params.base_dir}/Data/Genomes"
    rawreads_dir="${params.base_dir}/Data/Raw_reads/"
    trimmed_reads_dir="${params.base_dir}/Data/Trimmed_reads/"
    ltr_dir="${params.base_dir}/Data/LTRs"
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'short-cpu'
            clusterOptions = '--job-name=download_genomes'
        }
        executor {
            queueSize = 40
        }
    }
}

// Global process configuration
process {
    conda = 'ERC'
    cpus = 1
    time = '1h'
}

// Set the working directory for the entire workflow
workDir = "${params.base_dir}/work"
