//Set the base directory to the Github project directory
params.base_dir = /nfs/home/jlamb/Projects/nextflow_ltr"

//Set the directory for downloaded genomes
params.genome_dir = "$params.base_dir}/Data/Genomes"


profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'short-cpu'
            clusterOptions = '--job-name=download_genomes'
        }
        executor {
            queueSize = 50
        }
    }
}

// Global process configuration
process {
    conda = 'ERC'
    cpus = 1
    time = '1h'
}
